body{
	margin: 0px;
}
#body-header{
	height: 65vh;
	opacity: 0.9;
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg*/
.Horizonatal-list{
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.Horizonatal-list li{
   display: inline-block;
   margin: 0px 8px 8px 0px;
   font-weight: 100;
   font-size: 0.9rem;
}
.Horizonatal-list li a{
	color: white;
	text-decoration: none;
	 
}
.nav-menu li a{
transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 1px solid white;
	 
}
.text-center{
 text-align:center;
/* position: fixed;
 top: 50%;
 left: 50%;*/

}
.projects-section {
    width: 80%;
    margin: 0 auto;
  }
  
.project {
    margin-bottom: 20px;
  }
  
.project h3 {
    color: blue;
  }  
#name-social{
	margin-top: 25vh;
}
#my-name{
     font-size: 3rem;
     letter-spacing: 0.1rem;
     color: white;
     font-weight: 700;
     margin-bottom: 0.5rem;
      text-align: 50em;
}

.social-icons li a i{
      padding: 10px;
      font-size: 1.5rem;
      border-radius: 50%;
}
.social-icons li a i:hover{
/*horizontal offset, vertical offset, blur, spread, colour*/
	box-shadow:  0px 0px 6px 6px red;
}
section{
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items:center ;
}
section:nth-child(2n+1){
	background-color: lightgrey;
	height: auto;
}
section:nth-child(2n){
	background-color: white;

}
.section-heading{
	width: auto;
	padding: 20px 20px 10px;
	/*margin: 10px auto;*/
	font-weight: 400;
}
.section-heading span{
	font-size: 40px;
	color: black;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
#about{
	height: auto;
	width: 100%;
	position: relative;
}
#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;

}
#my-image img{
	  height: 100%;
	  width: 100%;
	  border-radius: 50%;
	  box-shadow: 0px 0px 6px 6px lightgoldenrodyellow;
}
#my-image img: hover{
/*box-shadow: 0px 0px 6px 7px red;*/
transition: color 0.1;
}
#about p{
	text-align: center;
	margin:;
	/*text-decoration: ;*/

	text-align: center;
}
 #about-para{
 	padding: 10px;
 	width: 40%;
 	height: 100%;
 	margin: 75px;
 	font-family: sans-serif,Arial,Helvetica;
 	text-align: justify;
 	color: grey;
 	font-weight: 100;
 	font-height: 28px;
 	font-size: 1.1rem;
 }
 /*skills section*/
 .skills-display{
 	width: 70%;
 	/*height: auto;*/
 	/*border: 2px solid black;*/
 	margin-top: 4rem;
 	margin-bottom: 1.5rem;
 	display:flex;
 	flex-wrap: wrap;
 	justify-content: space-around;

 }
 .skill-progress{
 	width: 7rem;
 	height: 1.4rem;
 	margin: 20px;
 	background-color: lightgrey;
 	border-radius: 0.8rem;
 	border: 2px solid blue;
 }
 .skill-progress>div{
 	border-radius: 20px 0px 0px 20px;
 }
 .skill-name span{
   color: white;
   font-size: 1rem;
   margin-left: 15px;

 }
 .experience{
 	/*height: 200px;*/
	width: 100%;
	position: relative;
}
 
 .timeline{
 	position: relative;
 	width: 85%;
 	margin-bottom: 2%;
 	border: 2px solid black;
 }
 .timeline-box{
 	position: relative;
 	width:40% ;
 	left: 5%;
 	margin:5px;
 	min-height: 150px;
 	border: 2px solid black;
 }
 .timeline-box:nth-child(2n){
 	left: 53%;
 }
 .timeline-box:nth-child(2n+1)::after{
 	content: '';
 	position: absolute;
 	top: 53%;
 	right: -13%;
 	border-radius: 50%;
 	width: 0.7rem;
 	height: 0.7rem;
 	background-color: black;
  z-index: 1;

 }
 .timeline-box:nth-child(2n)::after{
 	content: '';
 	position: absolute;
 	top: 40%;
 	left: -9.5%;
 	border-radius: 50%;
 	width: 0.7rem;
 	height: 0.7rem;
 	background-color: black;
  z-index: 1;

 }
 .timeline-divider{
 	 position: absolute;
 	 height: 75%;
 	 width: 0;
 	 border: 3px dashed skyblue;
   top: 10%;
   left:50%;
   padding: 0px;
}
@media screen and (max-width: 600px){
	.timeline-divider{
 	 left: 5%;
          }
  .timeline-box{
     left: 12%;
     width: 80%;
  }
  .timeline-box:nth-child(2n){
 	left: 11.7%;
 }
 .timeline-box:nth-child(2n+1)::after{
 	 left: -12%;

 }

}
.timeline-traveler{
	position: sticky;
	top:40%;
	z-index: 2;
	transform:rotate(90deg);
}
 .mb75px{
 	margin-bottom: 75px;
 }
 /*percentageclasses*/
 .eighty-five-p{
      width: 85%;
      height: inherit;
      /*background-color: blue;*/
 }
 .seventy-five-p{
      width: 70%;
      height: inherit;
      /*background-color: blue;*/
 }
 .sixty-five-p{
      width: 50%;
      height: inherit;
      /*background-color: blue;*/
 }
 .nenety-five-p{
      width: 45%;
      height: inherit;
      /*background-color: blue;*/
 }
 .mb-blue {
    background-color: #2857a4;
}
.mb-red {
    background-color: red;
}
.mb-green {
    background-color: green;
}
.text-hig{
	color:black ;
}
/*copied c*/

 #contact-container {
    display: flex;
}#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    /*background-image: linear-gradient(50deg,#2857a4 0%, #5378b1 74%);*/
    /*background-image: linear-gradient(170deg,#2857a4 0%, #8496b2 74%);*/
    /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
    /*background-image: linear-gradient(to right,#13226fe0, #5473a2e0, #434ba8e0);*/
    /*background-color: #13386fe0;*/
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ff5722;
}


.mb-teal {
    background-color: #009688;
}

.mb-light-purple {
    background-color: #93738c;
}

.m-blue {
    color: #2857a4;
}

/*Common Percent classes*/
.eighty-percent {
    height: inherit;
    width: 80%;
}

.eighty-five-percent {
    height: inherit;
    width: 80%;
}

.seventy-five-percent {
    height: inherit;
    width: 75%;
}

/* common margin classes */
.m0 {
    margin: 0;
}
